*{
    padding: 0px;
    margin:0px;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width:990px;    
}

.logo{
    display: flex;
    align-items: center;
}

.minhalogo{
    width: 110px;
    height: 100px;
}

.menu{    
    display: flex;
    align-items: center;
}

nav ul, li{
    list-style: none;
    margin:0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    font-size: 14px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

nav .active a, 
nav a:hover{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

section{
    display: flex;
    justify-content: center;
}

.containerSection{
    display: flex;
    justify-content: space-between;
    width:990px;    
}

.tenis{
    display: flex;
    align-items: center;
}

.tenis img{
    width: 600px;
    height: 600px;
}


/**/
.containerSection {    
    padding: 20px;
    margin: 20px;
    text-decoration: none;  
}

button {
    width: 280px;
    height:40px;
    background-color: black;
    text-decoration: none;
    border: none;
    
}

button a{
    text-decoration: none;
    background-color: black;
    color: white;
    border:none;
}

button:hover{
    font-size: 14px;
    color: #eee;
    font-weight: bold;
    border: none;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4)
}

footer{
    width: auto;
    height: 50px;
    background-color: black; 
    color: white;
    text-align: center;
    padding-top:  25px;
}



 








